@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}

header nav a:hover {
    background: #5247B9;
}
header nav:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}

.image-container {
    border: 8px solid white; 
    display: inline-block; 
    padding: 0px; 
    border-radius: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color:cornflowerblue;
}
form {
    font-family: Arial, sans-serif;
    max-width: 3000px;
    margin: 0 ;
    padding: 20px;
    border: 6px solid #ccc;
    border-radius: 10px;
    background-color: #3028a1;
    line-height: 15px;
}
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 6px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}
input{
    width: 100%;
}
button{
    width: 40%;
}
.image-container2{
    text-align: center;
    border-radius: 10px;
    
}
.image-container2 img {
    display: block;
    margin: 0 auto;
}
